# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Guide du tuteur - Youth AI Lab
email: contact@labaixbidouille.com
description: >- # this means to ignore newlines until "baseurl:"
  Vous avez accepté ou envisagez de rejoindre le projet Youth AI Lab comme tuteur... Merci de votre implication ! Voici les informations pratiques sur votre engagement et votre rôle..
github_username: Youth-AI-Lab
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Tutorat Youth AI Lab"
  avatar : "/assets/images/Rounded version.png"
  bio    : "Accompagnement de jeunes dans l'exploration scientifique et créative des outils d'intelligence artificielle générative."
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:contact@labaixbidouille.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Youth-AI-Lab"
    - label: "Project Information"
      icon: "fas fa-fw fa-rocket"
      url: "https://erasmus-plus.ec.europa.eu/projects/search/details/2025-1-FR02-KA220-YOU-000357192"

footer:
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:contact@labaixbidouille.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Youth-AI-Lab/"
    - label: "Project Information"
      icon: "fas fa-fw fa-rocket"
      url: "https://erasmus-plus.ec.europa.eu/projects/search/details/2025-1-FR02-KA220-YOU-000357192"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
